* {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  list-style: none;
}
@media screen and (max-width: 768px) {
  * {
    font-size: 0.8rem;
  }
}

button, select {
  cursor: pointer;
}

body {
  height: 100vh;
  background: url(https://hexschool.github.io/js-filter/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 1px;
  white-space: nowrap;
}

.title {
  max-width: 1140px;
  margin: 0 auto;
}
.title a {
  width: 450px;
  height: 105px;
  text-indent: 101%;
  overflow: hidden;
  cursor: pointer;
  display: block;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/hexschool-courses.appspot.com/o/course%2FJS%20%E5%89%8D%E7%AB%AF%E4%BF%AE%E7%B7%B4%E5%85%A8%E6%94%BB%E7%95%A5%2F1628942714013-logo%20%E6%94%B9.png?alt=media&token=583e78ed-6a6c-4660-9f0e-2f59f8eb78e2);
  background-repeat: no-repeat;
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .title a {
    background: url(https://firebasestorage.googleapis.com/v0/b/hexschool-courses.appspot.com/o/course%2FJS%20%E5%89%8D%E7%AB%AF%E4%BF%AE%E7%B7%B4%E5%85%A8%E6%94%BB%E7%95%A5%2F1629001163643-logo-sm.png?alt=media&token=914f40fc-c143-4aaa-a1c3-fb0bdd17fa9c);
    width: 178px;
    height: 50px;
    margin: 1.25rem auto;
  }
}

.outSideBox {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnBox {
  margin: 3% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnBox button {
  margin-left: 1%;
  padding: 1% 4%;
  border: 2px solid #2A2A2A;
  box-shadow: 0 1px 0 0 #2A2A2A;
  border-radius: 4px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bolder;
}
.btnBox button.active {
  background: #F8D45A;
}
@media screen and (max-width: 768px) {
  .btnBox button {
    padding: 1% 6%;
    font-size: 1.5rem;
  }
}

.findOutSideBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.findOutSideBox p {
  color: white;
  background-color: #899E39;
  padding: 0.5% 2%;
  border: 2px solid #899E39;
  border-radius: 4px 0 0 4px;
}
.findOutSideBox input {
  text-align: center;
  padding: 0.7% 4%;
  border: 2px solid #899E39;
  border-radius: 0 4px 4px 0;
}
.findOutSideBox button {
  margin-left: 1%;
  padding: 0.5% 3%;
  font-family: NotoSansCJKtc-Bold;
  color: #FFFFFF;
  letter-spacing: 1px;
  background: #899E39;
  border: 2px solid #899E39;
  border-radius: 4px;
  border-radius: 4px;
}
.findOutSideBox button:hover {
  background-color: rgba(42, 42, 42, 0.5019607843);
  border: 2px solid rgba(42, 42, 42, 0.5019607843);
}
@media screen and (max-width: 768px) {
  .findOutSideBox input {
    width: 46%;
    padding: 0.9% 4%;
  }
  .findOutSideBox button {
    width: 67%;
    margin-top: 2%;
    font-size: 1.2rem;
  }
}

.optionOutSideBox {
  margin: 5% 0;
  position: relative;
}
.optionOutSideBox select {
  position: absolute;
  right: 15%;
  font-family: NotoSansCJKtc-Regular;
  color: #2A2A2A;
  letter-spacing: 1px;
  padding: 0.5% 1%;
  border: 2px solid #9A9A9A;
  border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .optionOutSideBox {
    position: fixed;
    top: 90%;
    right: 1%;
    z-index: 999;
  }
  .optionOutSideBox select {
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
  }
}

.findResult {
  position: relative;
  left: 15%;
  margin-bottom: 1%;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .findResult {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 410px) {
  .findResult {
    font-size: 1rem;
  }
}

table {
  width: 85%;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  text-align: center;
  border-collapse: collapse;
}
table thead tr {
  position: sticky;
  top: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
table thead tr th {
  width: 11%;
}
table thead tr .cropName {
  width: 30%;
}
table th {
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 1% 0;
}
table tr {
  font-family: NotoSansCJKtc-Bold;
  color: #2A2A2A;
  letter-spacing: 1px;
  background: #F4F1EA;
}
table tr td {
  padding: 1% 3%;
  font-weight: bolder;
}
@media screen and (max-width: 768px) {
  table {
    width: 90%;
  }
  table th {
    padding: 1%;
    box-sizing: border-box;
  }
  table th td {
    padding: 1% 2%;
    font-weight: bolder;
  }
}

.searchOutSideBox {
  width: 70%;
  margin: 0 auto;
}
.searchOutSideBox p {
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  font-family: NotoSansCJKtc-Regular;
  color: #2A2A2A;
  letter-spacing: 1px;
  border-bottom: 2px solid #D9D9D9;
}

.box {
  border-top: 0;
}
.box tr td {
  font-weight: bolder;
  border-bottom: 2px solid #D9D9D9;
  padding-left: 3%;
  text-align: center;
}/*# sourceMappingURL=index.css.map */